{% extends 'blog/base.html' %}
{% load static %}

{% block content1 %}
<div class="ui text container segment" style="magrin: 10%; margin-top: 50px; max-width: 400px;">

<h1 style="text-align: center;">Delete Confirmation</h1>
<!-- <h3 style="text-align: center;">Please Login to continue</h3> -->
<form class="ui form" action="/delete-post/" method="POST">
	{% csrf_token %}
	<div class="field" style="padding: 30px 0">
	<input type="text" name="id" value="{{ id }}" hidden required>
	<p>Are your sure you want to delete the post "{{ title }}"?</p>
	</div>
	<button class="ui large fluid red button" type="submit">Delete Post</button>
	<a href="{% url 'blog-home' %}" style="display: block; padding: 10px; text-align: center;">Cancel</a>
</form>
</div>
{% endblock content1 %}